      <footer class="container">
    	  <p class="white">&copy; Alex Padilla 2018 All Rights Reserved</p>
    	  <script src="/javascripts/headerUserMenu.js"></script>
      </footer>	
    </div>
  </body>
</html>