<% include partials/header %>

	<div class="container search-container">
	    <h2>Search Results</h2>

		<div id="search-left-tab">
			<div class="search-results">
            <div class="channel-container my-video-container clearfix">
				<div class="image">
					<div class="content">
						<img src="/images/video-thumbnail.jpg" alt="#"></img>
					</div>
				</div>
				<div class="about">
					<h4 class="video-title">Banana Death :(</h4>
					<p class="video-about">This is a video of my dog rolling over and playing dead after eating a banana. After that he comes back to life and does a backflip. He is the best dog and has won 5 national dog competitions :)</p>
					<p class="info">Published on: <span id="subscribers">8/15/16</span></p>
					<p class="info">Views: <span id="videos">37</span></p>
				</div>

				<div class="button">
					<div class="content">
						<button class="btn btn-primary">Edit</button>
						<button class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
			
			<div class="channel-container my-video-container clearfix">
				<div class="image">
					<div class="content">
						<img src="/images/video-thumbnail.jpg" alt="#"></img>
					</div>
				</div>
				<div class="about">
					<h4 class="video-title">Banana Death :(</h4>
					<p class="video-about">This is a video of my dog rolling over and playing dead after eating a banana. After that he comes back to life and does a backflip. He is the best dog and has won 5 national dog competitions :)</p>
					<p class="info">Published on: <span id="subscribers">8/15/16</span></p>
					<p class="info">Views: <span id="videos">37</span></p>
				</div>

				<div class="button">
					<div class="content">
						<button class="btn btn-primary">Edit</button>
						<button class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
			
			<div class="channel-container my-video-container clearfix">
				<div class="image">
					<div class="content">
						<img src="/images/video-thumbnail.jpg" alt="#"></img>
					</div>
				</div>
				<div class="about">
					<h4 class="video-title">Banana Death :(</h4>
					<p class="video-about">This is a video of my dog rolling over and playing dead after eating a banana. After that he comes back to life and does a backflip. He is the best dog and has won 5 national dog competitions :)</p>
					<p class="info">Published on: <span id="subscribers">8/15/16</span></p>
					<p class="info">Views: <span id="videos">37</span></p>
				</div>

				<div class="button">
					<div class="content">
						<button class="btn btn-primary">Edit</button>
						<button class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
			
			<div class="channel-container my-video-container clearfix">
				<div class="image">
					<div class="content">
						<img src="/images/video-thumbnail.jpg" alt="#"></img>
					</div>
				</div>
				<div class="about">
					<h4 class="video-title">Banana Death :(</h4>
					<p class="video-about">This is a video of my dog rolling over and playing dead after eating a banana. After that he comes back to life and does a backflip. He is the best dog and has won 5 national dog competitions :)</p>
					<p class="info">Published on: <span id="subscribers">8/15/16</span></p>
					<p class="info">Views: <span id="videos">37</span></p>
				</div>

				<div class="button">
					<div class="content">
						<button class="btn btn-primary">Edit</button>
						<button class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>

		</div>
		</div>
		
		<div id="search-right-tab">
            <div class="tab-container">
				<div id="account-ads">
					<img src="/images/ad.jpg" alt="#"></img>
					<img src="/images/ad.jpg" alt="#"></img>
					<img src="/images/ad.jpg" alt="#"></img>
				</div>
			</div>
		</div>
	</div>

<% include partials/footer %>