<% include partials/header %>

	<div id="video-register-container">
	 	<video id="new-video" autoplay="autoplay">
			<source src="/videos/register.mp4" type="video/mp4" />
		</video>
	 	
		<div class="container new-video-form-container general-container">
			<h1>Upload your</br> YouTube Video</h1>
	
			<form id="new-video-form" action="/video/new" method="POST">
				<!--<input type="file" accept="video/*"/>-->
				<label for="description">Address Bar Link</label>
				<input id="source" type="text" name="source">
				
				<label for="category">Video Category</label>
				<select id="category" name="category">
					<!--Please update category appData.js if a new category is added here, otherwise category will not display-->
					<option value="">What is your video about?</option>
					<option value="Music">Music</option>
					<option value="Movies">Movies</option>
					<option value="Sports">Sports</option>
					<option value="Video Games">Video Games</option>
					<option value="Cool Stuff">Cool Stuff :)</option>
				</select>
				<button type="submit" class="btn btn-primary">Submit</button>
				
			</form>
		</div>
	</div>
	
	<script src="/javascripts/videoNewValidation.js"> </script>

<% include partials/footer %>