/* Navigation */
.navigation{
	width: 100%;
	height: 55px;

	background-color: #FFF;
	border-bottom: 1px solid rgba(0,0,0,.2);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.navigation,
div#logo,
div#logo h4,
div#logo h3,
div#logo > img,
div#logo > a,
div#searchBar > form,
div#channel-tab > img,
div#channel-tab > ul{
	display: inline-block;
}

div.header-container{
	width: 95%;
	margin: 0 auto;
}


/* Navigation - Header */
div.header-wrap {
	height: inherit;
}

/* Nagivation - Logo */
div#logo{
	float: left;
	margin-top: 12px;
	margin-right: 75px;
}

div#logo h4{
	font-size: 14px;
}

div#logo h3{
	margin: 0;
}

div#logo a{
	color: #000;
	display:inline-block;
	text-decoration: none;
}

div#logo a:hover,
div#logo a:active{
	text-decoration: none;
}


div#logo span.logo-red {
	color:red;
	margin-left: -6px;
}

/* Nagivation - Search bar */
div#searchBar{
	display: inline-block;
	width: 55%;
	position: relative;
	margin-top: 12px;
}

div#searchBar form{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

div#searchBar input{
	width: 100%;
	font-size: 16px;
	border: 2px solid rgba(0,0,0,.2);
	border-right: 0px;
}

div#searchBar button{
	font-size: 15px;
	border-radius: 0;
	padding: 4.5px;
	vertical-align: top;
	display: flex;
	justify-content: center;
	border: 2px solid rgba(0,0,0,.2);
}

div#searchBar button img{
	height: 15px;
	margin: auto;
}


/* Nagivation - Authentication */
div#authentication{
	display: inline-block;
	height: 50px;
	position: relative;
	text-align: center;
	float: right;
	width: 110px;
	margin-top: 2px;
}

div#authentication a#login{
	margin: 0 7px 0 0;
}

div#authentication button{
	margin-right: 5px;
	margin-top: 14px;
}

/* Login Form */
div#login-container{
	position: relative;
	width: 100%;
	padding: 0 15px;
	text-align: center;
}

div.login-page{
	display: inline-block;
	position: relative;
	width: 220px;
	height: 225px;
	padding: 0;
	z-index: 1;
	margin: 0 auto;
}

div.login-form{
	display: none;
	position: absolute;
	top: 25px;
	z-index: 1;	
	float:left;
}

div.login-form form,
div.login-page form{
    padding: 10px 10px 10px 10px;
	background-color: #FFF;
	border: 1px solid rgba(0,0,0,.2);
	overflow: auto;
	width: 220px;
	height: 225px;
	text-align: center;
}

div.login-form form h3,
div.login-page form h3{
    margin-top: 0;
    margin-bottom: 12px;
}

div.login-form label#second-child,
div.login-page label#second-child{
	margin-top: 5px;
}

div.login-form form button,
div.login-page form button{
	display: inline-block;
    margin-top: 15px;
}

/* Nagivation - Channel Logo */
div#channel-tab{
	width: 44px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: right;
	margin-top: 3px;
}

div#channel-tab img{
	display: inline-block;
	width: 44px;
	float: right;
}

/* Nagivation - Channel Logo - Menu */
ul#user-menu{
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 150px;
	text-align: right;
	border: 1px solid rgba(0,0,0,.3);
	background-color: #FFF;
}

ul#user-menu li{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 35px;
	width:100%;
}

ul#user-menu li a{
	color: #000;
	display: block;
	padding: 8px 0 8px 15px;
	width: 100%;
	text-align: left;
}

ul#user-menu li a:hover{
	background-color:rgba(0,0,0,.5);
	color: #FFF;
	text-decoration: none
}

@media(min-width: 200px){
	
	div.header-container{
		width: 390px;
		padding: 0 10px;
	}
	
	div#logo{
		float: left;
		margin-top: 0px;
		margin-right: 5px;
	}
	
	div#logo h4{
		font-size: 12px;
	}
	
	div#logo h3{
		margin: 0;
		font-size: 20px;
	}
	
	div#logo span#you{
		display: none;	
	}
	
	div#logo h4#mini{
		margin-bottom: 0;
	}
	
	div#logo h4#mini,
	div#logl span#tube{
		display: block;
	}
	
	div#searchBar{
		width: 64.5%;
	}
	
	div#authentication{
		display: inline-block;
		height: 50px;
		position: relative;
		text-align: center;
		float: right;
		width: 76px;
		margin-top: 2px;
	}
	
	div#authentication a.header-link,
	div.header-trigger.login-form-trigger{
		display: block;
	}
	
	div#authentication a#login{
		margin: 0;
	
	}
	
	div#logged-out-auth,
	div#logged-in-auth{
		float: right;
	}
	
	div#logged-out-auth{
		margin-top: 5px;
	}

	div#authentication button{
		margin-top: 10px;
		padding: 4px;
	}
	
	div#logged-in-auth button span#upload-text{
		display: none;
	}
	
	div#logged-in-auth button span#upload-image{
		display: initial;
	}
	
	div#logged-in-auth button span#upload-image img{
		height: 15px;
	}
}


@media(min-width: 650px){
	
	div.header-container{
		width: 95%;
		margin: 0 auto;
		padding: 0;
	}
	
	div#logo{
		float: left;
		margin-top: 14px;
		margin-right: 15px;
	}
	
	div#logo h4{
		font-size: 14px;
	}
	
	div#logo h3{
		margin: 0;
		font-size: 24px;
	}
	
	div#logo span#you{
		display: inline-block;	
	}
	
	div#logo h4#mini,
	div#logl span#tube{
		display: inline-block;
	}
	
	div#searchBar{
		display: inline-block;
		width: 55%;
		position: relative;
		margin-top: 14px;
	}
	
	div#authentication{
		display: inline-block;
		height: 50px;
		position: relative;
		text-align: center;
		float: right;
		width: 130px;
		margin-top: 2px;
		overflow: visible;
	}
	
	div#authentication a.header-link,
	div.header-trigger.login-form-trigger{
		display: inline-block;
		margin-top: 14px;
		float: right;
	}
	
	div#authentication a#login{
		margin: 0 7px 0 0;
	}
	
	div#logged-out-auth,
	div#logged-in-auth{
		margin-top: 0;
	}
	
	div#authentication button{
		margin-top: 14px;
		padding-right: 3px;
		padding-left: 3px;
	}
	
	div#logged-in-auth button span#upload-text{
		display: initial;
	}
	
	div#logged-in-auth button span#upload-image{
		display: none;
	}
}

@media(min-width: 799px){
	div#logo{
		float: left;
		margin-top: 12px;
		margin-right: 75px;
	}
}