div#home-ad{
    display: relative;
    overflow:scroll;
    margin: 0 auto;
    text-align: center;
}

div#home-ad div.ad-md{
    display: unset;
}

div#home-ad div.ad-lg{
    display: none;  
}

div.category{
    margin-top: 15px;
    margin-bottom: 15px;
}


div.category h4.index-category-header{
    margin: 5px 7px 0 9px;
    padding: 11px 0 11px 15px;
    background: #828282;
    color: white;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

/* Carousel Slides */

div.slick-slide{
    display: relative;
}

div.slick-slide > div{
    padding: 0px 10px;
    width: 100%;
}

@media (min-width: 650px){
    div#home-ad div.ad-lg{
        display: unset;  
    }
    div#home-ad div.ad-md{
        display: none;
    }
}
